body {
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    margin-top: -10px;
    color: white;
}

.time, .date {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: 150px;
}

.date {
    font-size: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background: #333333;
    opacity: 0.6;
    color: #aaa;
    padding-top: 50px;
    font-size: 13px;
}

.btn-default {
    border-radius: 50px;
}

.btn-xl {
    font-size: 30px;
    padding: 20px;
    min-width: 350px;
}