/app/system/Config.php
.vscode/
/app/modules/erudio/
/app/classes/ErudioGroup.class.php
/app/classes/ErudioQuestion.class.php
/app/classes/ErudioResult.class.php
/assets/erudio/
/themes/beaglemrf/
/assets/arcblog/
/assets/pagemanager/
/assets/profile/
/_ideas