/******************/
/* Theme Skin     */
/******************/
::selection {
  background-color: #8BC34A;
}
::-moz-selection {
  background-color: #8BC34A;
}
/***************/
/* Link Colors */
/***************/
a {
  color: #1faabe;
}
a:hover {
  color: #8BC34A;
}
/*****************************/
/* Default Theme Color Class */
/*****************************/
.color {
  color: #8BC34A !important;
}
a.color {
  color: #8BC34A !important;
}
a.color:hover,
a.color:focus {
  color: #1faabe;
}
.bg-color {
  background-color: #8BC34A !important;
}
.br-color {
  border: 1px solid #8BC34A;
}
.dropcap-1 {
  color: #8BC34A;
}
.dropcap-2,
.dropcap-3 {
  background: #8BC34A;
}
blockquote {
  border-color: #8BC34A;
}
blockquote.blockquote-reverse {
  border-color: #8BC34A;
}
/***************/
/* List styles */
/***************/
.list-1 li:before,
.list-2 li:before,
.list-3 li:before,
.list-4 li:before,
.list-5 li:before,
.list-6 li:before,
.list-7 li:before,
.list-8 li:before,
.list-9 li:before {
  color: #8BC34A;
}
/*********************************/
/* Theme Button, Label and Badge */
/*********************************/
.btn.btn-color {
  color: #ffffff;
  background: #8BC34A;
  border: 1px solid #1faabe;
}
.btn.btn-color:hover,
.btn.btn-color:focus,
.btn.btn-color.active,
.btn.btn-color:active {
  background: #1faabe;
  color: #ffffff;
}
.btn.btn-color.btn-outline {
  background: transparent !important;
  border: 1px solid #1faabe !important;
  color: #1faabe;
}
.label.label-color {
  background: #8BC34A;
  color: #ffffff;
}
.badge.badge-color {
  background: #8BC34A;
  color: #ffffff;
}
.highlight-color {
  background: #8BC34A;
}
/*****************/
/* Dropdown menu */
/*****************/
.dropdown-menu > li.active > a {
  background-color: #8BC34A;
}
.dropdown-menu > li.active > a:hover {
  background-color: #8BC34A;
}
.dropdown-menu > li.active > a:focus {
  background-color: #8BC34A;
}
/**************/
/* Pagination */
/**************/
.pagination li a {
  color: #555555;
}
.pagination li a:hover {
  background-color: #8BC34A;
  border-color: #1faabe;
  color: #ffffff;
}
.pagination li.active a {
  background-color: #8BC34A;
  border-color: #1faabe;
}
.pagination li.active a:hover {
  background-color: #8BC34A;
  border-color: #1faabe;
}
.pagination li.active a:focus {
  background-color: #8BC34A;
  border-color: #1faabe;
}
.pagination li.active span {
  background-color: #8BC34A;
  border-color: #1faabe;
}
.pagination li.active span:hover {
  background-color: #8BC34A;
  border-color: #1faabe;
}
.pagination li.active span:focus {
  background-color: #8BC34A;
  border-color: #1faabe;
}
/*********/
/* Pager */
/*********/
.pager li a {
  background-color: #8BC34A;
  color: #ffffff;
  border-color: #1faabe;
}
.pager li a:hover {
  background: #1faabe;
}
/********************/
/* Nav Tabs Default */
/********************/
.nav-tabs > li > a {
  color: #555555;
}
.nav-tabs > li > a:hover {
  background: #8BC34A;
  color: #ffffff;
  border-color: #8BC34A;
}
.nav-tabs > li.open > a {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs > li.open > a:hover {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs > li.open > a:focus {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
/*********************/
/* Nav tabs style #1 */
/*********************/
.nav-tabs-one .nav-tabs > li > a {
  color: #555555;
}
.nav-tabs-one .nav-tabs > li > a:hover {
  background: #8BC34A;
  color: #ffffff;
  border-color: #8BC34A;
}
.nav-tabs-one .nav-tabs > li.active > a {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs-one .nav-tabs > li.active > a:hover {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs-one .nav-tabs > li.open > a {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs-one .nav-tabs > li.open > a:hover {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-tabs-one .nav-tabs > li.open > a:focus {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
/*********************/
/* Nav tabs style #2 */
/*********************/
.nav-tabs-two .nav-tabs > li > a {
  color: #555555;
}
.nav-tabs-two .nav-tabs > li > a:hover {
  border-top: 2px solid #8BC34A;
}
.nav-tabs-two .nav-tabs > li.active > a {
  border-top: 2px solid #8BC34A;
}
.nav-tabs-two .nav-tabs > li.active > a:hover {
  border-top: 2px solid #8BC34A;
}
.nav-tabs-two .nav-tabs > li.open > a {
  border-top: 2px solid #8BC34A;
}
.nav-tabs-two .nav-tabs > li.open > a:hover {
  border-top: 2px solid #8BC34A;
}
.nav-tabs-two .nav-tabs > li.open > a:focus {
  border-top: 2px solid #8BC34A;
}
/*********************/
/* Nav tabs style #3 */
/*********************/
.nav-tabs-three .nav li a:hover {
  background: #8BC34A;
  border-color: #8BC34A;
}
.nav-tabs-three .nav li.active a {
  border-color: #8BC34A;
  background: #8BC34A;
}
/*********/
/* Panel */
/*********/
.panel.panel-default {
  border-color: #1faabe;
}
.panel.panel-default .panel-heading {
  background: #8BC34A;
  border-color: #1faabe;
  color: #ffffff;
}
.panel.panel-default .panel-heading h4 a {
  color: #ffffff;
}
.panel.panel-default .panel-heading h4 a:hover {
  color: #ffffff;
}
.panel.panel-default .panel-footer {
  background: #8BC34A;
  border-color: #1faabe;
  color: #ffffff;
}
/*************/
/* Nav Pills */
/*************/
.nav-pills > li > a {
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #555555;
}
.nav-pills > li > a:hover {
  background: #8BC34A;
  color: #ffffff;
  border-color: #8BC34A;
}
.nav-pills > li.active > a {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-pills > li.active > a:hover {
  background-color: #1faabe;
  color: #ffffff;
}
.nav-pills > li.open > a {
  background-color: #8BC34A;
  border-color: #8BC34A;
  color: #ffffff;
}
.nav-pills > li.open > a:hover {
  background-color: #1faabe;
  color: #ffffff;
}
.nav-pills > li.open > a:focus {
  background-color: #8BC34A;
  border-color: #1faabe;
  color: #ffffff;
}
/**************/
/* List group */
/**************/
.list-group a:hover {
  background: #f7f7f7;
  color: #555555;
}
.list-group a:hover .list-group-item-heading {
  color: #555555;
}
.list-group a.active {
  background: #8BC34A;
  border-color: #1faabe;
}
.list-group a.active:hover {
  background: #8BC34A;
  border-color: #1faabe;
  color: #ffffff;
}
.list-group a.active:hover .list-group-item-heading {
  color: #ffffff;
}
.list-group a.active:hover .list-group-item-text {
  color: #ffffff;
}
.list-group a.active .list-group-item-heading {
  color: #ffffff;
}
.list-group a.active .list-group-item-text {
  color: #ffffff;
}
/**********************/
/* Brand - theme color */
/**********************/
.brand-color a i {
  color: #8BC34A;
}
.brand-color a i:hover {
  color: #1b96a8;
}
/****************************/
/* Brand - theme background */
/****************************/
.brand-bg-color a i {
  color: #ffffff;
  background: #8BC34A;
}
.brand-bg-color a i:hover {
  color: #ffffff !important;
  background: #1b96a8;
}
/* Owl carousel */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #8BC34A;
}
.owl-nav a i:hover {
  background: #8BC34A;
  border-color: #1faabe;
}
/*************************/
/* Header one            */
/* Logo & Navigation bar */
/*************************/
.header-1 .logo h1 a i {
  color: #8BC34A;
}
.header-1 .navi {
  background: #8BC34A;
  border-bottom: 3px solid #22bed4;
}
.header-1 .navi .navy ul > li.has-sub > a:after {
  color: #1faabe;
}
.header-1 .navi .navy > ul > li > ul {
  border-top: 2px solid #8BC34A;
  border-bottom: 2px solid #8BC34A;
}
.header-1 .navi .navy ul ul ul {
  border-top: 2px solid #8BC34A;
  border-bottom: 2px solid #8BC34A;
}
.header-1 .navi .navy #menu-button {
  background: #8BC34A;
}
.header-1 .navi .navy ul .submenu-button:after {
  color: #8BC34A;
}
/*************************/
/* Header two            */
/* Logo & Navigation bar */
/*************************/
.header-2 .logo h1 a i {
  color: #8BC34A;
}
.header-2 .navy ul > li.has-sub > a:after {
  color: #8BC34A;
}
.header-2 .navy > ul > li > ul {
  border-top: 2px solid #8BC34A;
  border-bottom: 2px solid #8BC34A;
}
.header-2 .navy ul ul ul {
  border-top: 2px solid #8BC34A;
  border-bottom: 2px solid #8BC34A;
}
.header-2 .navy #menu-button {
  background: #8BC34A;
}
.header-2 .navy ul .submenu-button:after {
  color: #8BC34A;
}
/********/
/* Footer */
/********/
.footer {
  border-color: #8BC34A;
}
