@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,200);

body {
	color: #2c2c2c;
	font-size: 14px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #f4f3ef;
}

a {
	text-decoration: none
}

.wrapper {
	width: 100%;
	position: relative
}


.logo-text {
	text-transform: uppercase;
	display: block;
	white-space: nowrap;
	font-size: 1rem;
	color: #66615B;
	text-decoration: none;
	font-weight: 400;
	line-height: 30px;
	overflow: hidden;
	display: block;
	opacity: 1;
	padding: 15px 10px 8px;
	transform: translate3d(0px, 0, 0);
}

.toggle-icon {
	font-size: 22px;
	cursor: pointer;
	color: #66615B
}

.topbar {
	position: fixed;
	top: 0;
	left: 250px;
	right: 0;
	height: 60px;
	background-color: #f4f3ef;
	border-bottom: 1px solid rgb(228 228 228 / 0%);
	z-index: 10;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.topbar h1 {
	color: #66615B;
	text-transform: capitalize;
	font-size: 20px;
	padding-top: 0.8rem;
	padding-bottom: 0.5rem;
	line-height: 1.625rem;
}

.topbar .navbar {
	width: 100%;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px
}

.page-wrapper {
	height: 100%;
}

.page-content {
	position: relative;
	background-color: #f4f3ef;
	transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
	padding: 5px 30px 30px;
}

.card {
	border-radius: 12px;
	box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
	background-color: #FFFFFF;
	color: #252422;
	margin-bottom: 20px;
	position: relative;
	border: 0 none;
	transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-body {
	padding: 15px 15px 10px 15px;
}

.card-footer {
	background-color: transparent;
	border: 0;
}

@-webkit-keyframes animdropdown {
	from {
		-webkit-transform: translate3d(0, 6px, 0);
		transform: translate3d(0, 6px, 0);
		opacity: 0
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@keyframes animdropdown {
	from {
		-webkit-transform: translate3d(0, 6px, 0);
		transform: translate3d(0, 6px, 0);
		opacity: 0
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

.form-label {
	margin-bottom: .5rem;
	margin-top: .5rem;
}

.text-primary,
a.text-primary:focus,
a.text-primary:hover {
	color: #51cbce !important;
}

.text-info,
a.text-info:focus,
a.text-info:hover {
	color: #51bcda !important;
}

.text-success,
a.text-success:focus,
a.text-success:hover {
	color: #6bd098 !important;
}

.text-warning,
a.text-warning:focus,
a.text-warning:hover {
	color: #fbc658 !important;
}

.text-danger,
a.text-danger:focus,
a.text-danger:hover {
	color: #ef8157 !important;
}

.text-gray,
a.text-gray:focus,
a.text-gray:hover {
	color: #E3E3E3 !important;
}

.btn,
.navbar .navbar-nav>a.btn {
	border-width: 2px;
	font-weight: 600;
	font-size: 0.8571em;
	line-height: 1.35em;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	padding: 11px 22px;
	cursor: pointer;
	background-color: #66615B;
	color: #FFFFFF;
	transition: all 150ms linear;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn.active:focus,
.btn.active:hover,
.show>.btn.dropdown-toggle,
.show>.btn.dropdown-toggle:focus,
.show>.btn.dropdown-toggle:hover,
.navbar .navbar-nav>a.btn:hover,
.navbar .navbar-nav>a.btn:focus,
.navbar .navbar-nav>a.btn:active,
.navbar .navbar-nav>a.btn.active,
.navbar .navbar-nav>a.btn:active:focus,
.navbar .navbar-nav>a.btn:active:hover,
.navbar .navbar-nav>a.btn.active:focus,
.navbar .navbar-nav>a.btn.active:hover,
.show>.navbar .navbar-nav>a.btn.dropdown-toggle,
.show>.navbar .navbar-nav>a.btn.dropdown-toggle:focus,
.show>.navbar .navbar-nav>a.btn.dropdown-toggle:hover {
	background-color: #403D39 !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn:not([data-action]):hover,
.navbar .navbar-nav>a.btn:not([data-action]):hover {
	box-shadow: none;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled.focus,
.btn.disabled:active,
.btn.disabled.active,
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled.focus,
.btn:disabled:active,
.btn:disabled.active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled].focus,
.btn[disabled]:active,
.btn[disabled].active,
fieldset[disabled] .btn,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn.focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn.active,
.navbar .navbar-nav>a.btn.disabled,
.navbar .navbar-nav>a.btn.disabled:hover,
.navbar .navbar-nav>a.btn.disabled:focus,
.navbar .navbar-nav>a.btn.disabled.focus,
.navbar .navbar-nav>a.btn.disabled:active,
.navbar .navbar-nav>a.btn.disabled.active,
.navbar .navbar-nav>a.btn:disabled,
.navbar .navbar-nav>a.btn:disabled:hover,
.navbar .navbar-nav>a.btn:disabled:focus,
.navbar .navbar-nav>a.btn:disabled.focus,
.navbar .navbar-nav>a.btn:disabled:active,
.navbar .navbar-nav>a.btn:disabled.active,
.navbar .navbar-nav>a.btn[disabled],
.navbar .navbar-nav>a.btn[disabled]:hover,
.navbar .navbar-nav>a.btn[disabled]:focus,
.navbar .navbar-nav>a.btn[disabled].focus,
.navbar .navbar-nav>a.btn[disabled]:active,
.navbar .navbar-nav>a.btn[disabled].active,
fieldset[disabled] .navbar .navbar-nav>a.btn,
fieldset[disabled] .navbar .navbar-nav>a.btn:hover,
fieldset[disabled] .navbar .navbar-nav>a.btn:focus,
fieldset[disabled] .navbar .navbar-nav>a.btn.focus,
fieldset[disabled] .navbar .navbar-nav>a.btn:active,
fieldset[disabled] .navbar .navbar-nav>a.btn.active {
	background-color: #66615B;
	border-color: #66615B;
}

.btn.btn-simple,
.navbar .navbar-nav>a.btn.btn-simple {
	color: #66615B;
	border-color: #66615B;
}

.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active,
.navbar .navbar-nav>a.btn.btn-simple:hover,
.navbar .navbar-nav>a.btn.btn-simple:focus,
.navbar .navbar-nav>a.btn.btn-simple:active {
	background-color: transparent;
	color: #403D39;
	border-color: #403D39;
	box-shadow: none;
}

.btn.btn-link,
.navbar .navbar-nav>a.btn.btn-link {
	color: #66615B;
}

.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active,
.btn.btn-link:active:focus,
.navbar .navbar-nav>a.btn.btn-link:hover,
.navbar .navbar-nav>a.btn.btn-link:focus,
.navbar .navbar-nav>a.btn.btn-link:active,
.navbar .navbar-nav>a.btn.btn-link:active:focus {
	background-color: transparent;
	color: #403D39;
	text-decoration: none;
	box-shadow: none;
}

.btn:hover,
.btn:focus,
.navbar .navbar-nav>a.btn:hover,
.navbar .navbar-nav>a.btn:focus {
	opacity: 1;
	filter: alpha(opacity=100);
	outline: 0 !important;
}

.btn:active,
.btn.active,
.open>.btn.dropdown-toggle,
.navbar .navbar-nav>a.btn:active,
.navbar .navbar-nav>a.btn.active,
.open>.navbar .navbar-nav>a.btn.dropdown-toggle {
	box-shadow: none;
	outline: 0 !important;
}

.btn .badge,
.navbar .navbar-nav>a.btn .badge {
	margin: 0;
}

.btn.btn-icon,
.navbar .navbar-nav>a.btn.btn-icon {
	height: 2.375rem;
	min-width: 2.375rem;
	width: 2.375rem;
	padding: 0;
	font-size: 0.9375rem;
	overflow: hidden;
	position: relative;
	line-height: normal;
}

.btn.btn-icon.btn-simple,
.navbar .navbar-nav>a.btn.btn-icon.btn-simple {
	padding: 0;
}

.btn.btn-icon.btn-sm,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm {
	height: 1.875rem;
	min-width: 1.875rem;
	width: 1.875rem;
}

.btn.btn-icon.btn-sm .fa,
.btn.btn-icon.btn-sm .far,
.btn.btn-icon.btn-sm .fas,
.btn.btn-icon.btn-sm .nc-icon,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm .fa,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm .far,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm .fas,
.navbar .navbar-nav>a.btn.btn-icon.btn-sm .nc-icon {
	font-size: 0.6875rem;
}

.btn.btn-icon.btn-lg,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg {
	height: 3.6rem;
	min-width: 3.6rem;
	width: 3.6rem;
}

.btn.btn-icon.btn-lg .fa,
.btn.btn-icon.btn-lg .far,
.btn.btn-icon.btn-lg .fas,
.btn.btn-icon.btn-lg .nc-icon,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg .fa,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg .far,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg .fas,
.navbar .navbar-nav>a.btn.btn-icon.btn-lg .nc-icon {
	font-size: 1.325rem;
}

.btn.btn-icon:not(.btn-footer) .nc-icon,
.btn.btn-icon:not(.btn-footer) .fa,
.btn.btn-icon:not(.btn-footer) .far,
.btn.btn-icon:not(.btn-footer) .fas,
.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .nc-icon,
.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .fa,
.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .far,
.navbar .navbar-nav>a.btn.btn-icon:not(.btn-footer) .fas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-12px, -12px);
	line-height: 1.5626rem;
	width: 24px;
}

.btn.btn-icon.btn-neutral,
.navbar .navbar-nav>a.btn.btn-icon.btn-neutral {
	font-size: 20px;
}

.btn:not(.btn-icon) .nc-icon,
.navbar .navbar-nav>a.btn:not(.btn-icon) .nc-icon {
	position: relative;
	top: 1px;
}

.btn-primary {
	background-color: #51cbce;
	color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
	background-color: #34b5b8 !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-primary:not([data-action]):hover {
	box-shadow: none;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
	background-color: #51cbce;
	border-color: #51cbce;
}

.btn-primary.btn-simple {
	color: #51cbce;
	border-color: #51cbce;
}

.btn-primary.btn-simple:hover,
.btn-primary.btn-simple:focus,
.btn-primary.btn-simple:active {
	background-color: transparent;
	color: #34b5b8;
	border-color: #34b5b8;
	box-shadow: none;
}

.btn-primary.btn-link {
	color: #51cbce;
}

.btn-primary.btn-link:hover,
.btn-primary.btn-link:focus,
.btn-primary.btn-link:active,
.btn-primary.btn-link:active:focus {
	background-color: transparent;
	color: #34b5b8;
	text-decoration: none;
	box-shadow: none;
}

.btn-success {
	background-color: #6bd098;
	color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:focus,
.btn-success.active:hover,
.show>.btn-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle:focus,
.show>.btn-success.dropdown-toggle:hover {
	background-color: #44c47d !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-success:not([data-action]):hover {
	box-shadow: none;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success:disabled,
.btn-success:disabled:hover,
.btn-success:disabled:focus,
.btn-success:disabled.focus,
.btn-success:disabled:active,
.btn-success:disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
	background-color: #6bd098;
	border-color: #6bd098;
}

.btn-success.btn-simple {
	color: #6bd098;
	border-color: #6bd098;
}

.btn-success.btn-simple:hover,
.btn-success.btn-simple:focus,
.btn-success.btn-simple:active {
	background-color: transparent;
	color: #44c47d;
	border-color: #44c47d;
	box-shadow: none;
}

.btn-success.btn-link {
	color: #6bd098;
}

.btn-success.btn-link:hover,
.btn-success.btn-link:focus,
.btn-success.btn-link:active,
.btn-success.btn-link:active:focus {
	background-color: transparent;
	color: #44c47d;
	text-decoration: none;
	box-shadow: none;
}

.btn-info {
	background-color: #51bcda;
	color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:focus,
.btn-info.active:hover,
.show>.btn-info.dropdown-toggle,
.show>.btn-info.dropdown-toggle:focus,
.show>.btn-info.dropdown-toggle:hover {
	background-color: #2ba9cd !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-info:not([data-action]):hover {
	box-shadow: none;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info:disabled,
.btn-info:disabled:hover,
.btn-info:disabled:focus,
.btn-info:disabled.focus,
.btn-info:disabled:active,
.btn-info:disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
	background-color: #51bcda;
	border-color: #51bcda;
}

.btn-info.btn-simple {
	color: #51bcda;
	border-color: #51bcda;
}

.btn-info.btn-simple:hover,
.btn-info.btn-simple:focus,
.btn-info.btn-simple:active {
	background-color: transparent;
	color: #2ba9cd;
	border-color: #2ba9cd;
	box-shadow: none;
}

.btn-info.btn-link {
	color: #51bcda;
}

.btn-info.btn-link:hover,
.btn-info.btn-link:focus,
.btn-info.btn-link:active,
.btn-info.btn-link:active:focus {
	background-color: transparent;
	color: #2ba9cd;
	text-decoration: none;
	box-shadow: none;
}

.btn-warning {
	background-color: #fbc658;
	color: #FFFFFF;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:focus,
.btn-warning.active:hover,
.show>.btn-warning.dropdown-toggle,
.show>.btn-warning.dropdown-toggle:focus,
.show>.btn-warning.dropdown-toggle:hover {
	background-color: #fab526 !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-warning:not([data-action]):hover {
	box-shadow: none;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning:disabled,
.btn-warning:disabled:hover,
.btn-warning:disabled:focus,
.btn-warning:disabled.focus,
.btn-warning:disabled:active,
.btn-warning:disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
	background-color: #fbc658;
	border-color: #fbc658;
}

.btn-warning.btn-simple {
	color: #fbc658;
	border-color: #fbc658;
}

.btn-warning.btn-simple:hover,
.btn-warning.btn-simple:focus,
.btn-warning.btn-simple:active {
	background-color: transparent;
	color: #fab526;
	border-color: #fab526;
	box-shadow: none;
}

.btn-warning.btn-link {
	color: #fbc658;
}

.btn-warning.btn-link:hover,
.btn-warning.btn-link:focus,
.btn-warning.btn-link:active,
.btn-warning.btn-link:active:focus {
	background-color: transparent;
	color: #fab526;
	text-decoration: none;
	box-shadow: none;
}

.btn-danger {
	background-color: #ef8157;
	color: #FFFFFF;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:focus,
.btn-danger.active:hover,
.show>.btn-danger.dropdown-toggle,
.show>.btn-danger.dropdown-toggle:focus,
.show>.btn-danger.dropdown-toggle:hover {
	background-color: #eb6532 !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-danger:not([data-action]):hover {
	box-shadow: none;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger:disabled,
.btn-danger:disabled:hover,
.btn-danger:disabled:focus,
.btn-danger:disabled.focus,
.btn-danger:disabled:active,
.btn-danger:disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
	background-color: #ef8157;
	border-color: #ef8157;
}

.btn-danger.btn-simple {
	color: #ef8157;
	border-color: #ef8157;
}

.btn-danger.btn-simple:hover,
.btn-danger.btn-simple:focus,
.btn-danger.btn-simple:active {
	background-color: transparent;
	color: #eb6532;
	border-color: #eb6532;
	box-shadow: none;
}

.btn-danger.btn-link {
	color: #ef8157;
}

.btn-danger.btn-link:hover,
.btn-danger.btn-link:focus,
.btn-danger.btn-link:active,
.btn-danger.btn-link:active:focus {
	background-color: transparent;
	color: #eb6532;
	text-decoration: none;
	box-shadow: none;
}

.btn-outline-default {
	background: transparent;
	border: 2px solid #66615B !important;
	color: #66615B;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-default:hover,
.btn-outline-default:focus,
.btn-outline-default:active,
.btn-outline-default:focus:active,
.btn-outline-default.active,
.open>.btn-outline-default.dropdown-toggle {
	background-color: #66615B !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #66615B !important;
}

.btn-outline-default:hover .caret,
.btn-outline-default:focus .caret,
.btn-outline-default:active .caret,
.btn-outline-default:focus:active .caret,
.btn-outline-default.active .caret,
.open>.btn-outline-default.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-default .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-default.disabled,
.btn-outline-default.disabled:hover,
.btn-outline-default.disabled:focus,
.btn-outline-default.disabled.focus,
.btn-outline-default.disabled:active,
.btn-outline-default.disabled.active,
.btn-outline-default:disabled,
.btn-outline-default:disabled:hover,
.btn-outline-default:disabled:focus,
.btn-outline-default:disabled.focus,
.btn-outline-default:disabled:active,
.btn-outline-default:disabled.active,
.btn-outline-default[disabled],
.btn-outline-default[disabled]:hover,
.btn-outline-default[disabled]:focus,
.btn-outline-default[disabled].focus,
.btn-outline-default[disabled]:active,
.btn-outline-default[disabled].active,
fieldset[disabled] .btn-outline-default,
fieldset[disabled] .btn-outline-default:hover,
fieldset[disabled] .btn-outline-default:focus,
fieldset[disabled] .btn-outline-default.focus,
fieldset[disabled] .btn-outline-default:active,
fieldset[disabled] .btn-outline-default.active {
	background-color: transparent !important;
	border-color: #66615B !important;
}

.btn-outline-primary {
	background: transparent;
	border: 2px solid #51cbce !important;
	color: #51cbce;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus:active,
.btn-outline-primary.active,
.open>.btn-outline-primary.dropdown-toggle {
	background-color: #51cbce !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #51cbce !important;
}

.btn-outline-primary:hover .caret,
.btn-outline-primary:focus .caret,
.btn-outline-primary:active .caret,
.btn-outline-primary:focus:active .caret,
.btn-outline-primary.active .caret,
.open>.btn-outline-primary.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-primary .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-primary.disabled,
.btn-outline-primary.disabled:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary.disabled.focus,
.btn-outline-primary.disabled:active,
.btn-outline-primary.disabled.active,
.btn-outline-primary:disabled,
.btn-outline-primary:disabled:hover,
.btn-outline-primary:disabled:focus,
.btn-outline-primary:disabled.focus,
.btn-outline-primary:disabled:active,
.btn-outline-primary:disabled.active,
.btn-outline-primary[disabled],
.btn-outline-primary[disabled]:hover,
.btn-outline-primary[disabled]:focus,
.btn-outline-primary[disabled].focus,
.btn-outline-primary[disabled]:active,
.btn-outline-primary[disabled].active,
fieldset[disabled] .btn-outline-primary,
fieldset[disabled] .btn-outline-primary:hover,
fieldset[disabled] .btn-outline-primary:focus,
fieldset[disabled] .btn-outline-primary.focus,
fieldset[disabled] .btn-outline-primary:active,
fieldset[disabled] .btn-outline-primary.active {
	background-color: transparent !important;
	border-color: #51cbce !important;
}

.btn-outline-success {
	background: transparent;
	border: 2px solid #6bd098 !important;
	color: #6bd098;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success:focus:active,
.btn-outline-success.active,
.open>.btn-outline-success.dropdown-toggle {
	background-color: #6bd098 !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #6bd098 !important;
}

.btn-outline-success:hover .caret,
.btn-outline-success:focus .caret,
.btn-outline-success:active .caret,
.btn-outline-success:focus:active .caret,
.btn-outline-success.active .caret,
.open>.btn-outline-success.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-success .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-success.disabled,
.btn-outline-success.disabled:hover,
.btn-outline-success.disabled:focus,
.btn-outline-success.disabled.focus,
.btn-outline-success.disabled:active,
.btn-outline-success.disabled.active,
.btn-outline-success:disabled,
.btn-outline-success:disabled:hover,
.btn-outline-success:disabled:focus,
.btn-outline-success:disabled.focus,
.btn-outline-success:disabled:active,
.btn-outline-success:disabled.active,
.btn-outline-success[disabled],
.btn-outline-success[disabled]:hover,
.btn-outline-success[disabled]:focus,
.btn-outline-success[disabled].focus,
.btn-outline-success[disabled]:active,
.btn-outline-success[disabled].active,
fieldset[disabled] .btn-outline-success,
fieldset[disabled] .btn-outline-success:hover,
fieldset[disabled] .btn-outline-success:focus,
fieldset[disabled] .btn-outline-success.focus,
fieldset[disabled] .btn-outline-success:active,
fieldset[disabled] .btn-outline-success.active {
	background-color: transparent !important;
	border-color: #6bd098 !important;
}

.btn-outline-info {
	background: transparent;
	border: 2px solid #51bcda !important;
	color: #51bcda;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info:focus:active,
.btn-outline-info.active,
.open>.btn-outline-info.dropdown-toggle {
	background-color: #51bcda !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #51bcda !important;
}

.btn-outline-info:hover .caret,
.btn-outline-info:focus .caret,
.btn-outline-info:active .caret,
.btn-outline-info:focus:active .caret,
.btn-outline-info.active .caret,
.open>.btn-outline-info.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-info .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-info.disabled,
.btn-outline-info.disabled:hover,
.btn-outline-info.disabled:focus,
.btn-outline-info.disabled.focus,
.btn-outline-info.disabled:active,
.btn-outline-info.disabled.active,
.btn-outline-info:disabled,
.btn-outline-info:disabled:hover,
.btn-outline-info:disabled:focus,
.btn-outline-info:disabled.focus,
.btn-outline-info:disabled:active,
.btn-outline-info:disabled.active,
.btn-outline-info[disabled],
.btn-outline-info[disabled]:hover,
.btn-outline-info[disabled]:focus,
.btn-outline-info[disabled].focus,
.btn-outline-info[disabled]:active,
.btn-outline-info[disabled].active,
fieldset[disabled] .btn-outline-info,
fieldset[disabled] .btn-outline-info:hover,
fieldset[disabled] .btn-outline-info:focus,
fieldset[disabled] .btn-outline-info.focus,
fieldset[disabled] .btn-outline-info:active,
fieldset[disabled] .btn-outline-info.active {
	background-color: transparent !important;
	border-color: #51bcda !important;
}

.btn-outline-warning {
	background: transparent;
	border: 2px solid #fbc658 !important;
	color: #fbc658;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning:focus:active,
.btn-outline-warning.active,
.open>.btn-outline-warning.dropdown-toggle {
	background-color: #fbc658 !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #fbc658 !important;
}

.btn-outline-warning:hover .caret,
.btn-outline-warning:focus .caret,
.btn-outline-warning:active .caret,
.btn-outline-warning:focus:active .caret,
.btn-outline-warning.active .caret,
.open>.btn-outline-warning.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-warning .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-warning.disabled,
.btn-outline-warning.disabled:hover,
.btn-outline-warning.disabled:focus,
.btn-outline-warning.disabled.focus,
.btn-outline-warning.disabled:active,
.btn-outline-warning.disabled.active,
.btn-outline-warning:disabled,
.btn-outline-warning:disabled:hover,
.btn-outline-warning:disabled:focus,
.btn-outline-warning:disabled.focus,
.btn-outline-warning:disabled:active,
.btn-outline-warning:disabled.active,
.btn-outline-warning[disabled],
.btn-outline-warning[disabled]:hover,
.btn-outline-warning[disabled]:focus,
.btn-outline-warning[disabled].focus,
.btn-outline-warning[disabled]:active,
.btn-outline-warning[disabled].active,
fieldset[disabled] .btn-outline-warning,
fieldset[disabled] .btn-outline-warning:hover,
fieldset[disabled] .btn-outline-warning:focus,
fieldset[disabled] .btn-outline-warning.focus,
fieldset[disabled] .btn-outline-warning:active,
fieldset[disabled] .btn-outline-warning.active {
	background-color: transparent !important;
	border-color: #fbc658 !important;
}

.btn-outline-danger {
	background: transparent;
	border: 2px solid #ef8157 !important;
	color: #ef8157;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger:focus:active,
.btn-outline-danger.active,
.open>.btn-outline-danger.dropdown-toggle {
	background-color: #ef8157 !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #ef8157 !important;
}

.btn-outline-danger:hover .caret,
.btn-outline-danger:focus .caret,
.btn-outline-danger:active .caret,
.btn-outline-danger:focus:active .caret,
.btn-outline-danger.active .caret,
.open>.btn-outline-danger.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-danger .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-danger.disabled,
.btn-outline-danger.disabled:hover,
.btn-outline-danger.disabled:focus,
.btn-outline-danger.disabled.focus,
.btn-outline-danger.disabled:active,
.btn-outline-danger.disabled.active,
.btn-outline-danger:disabled,
.btn-outline-danger:disabled:hover,
.btn-outline-danger:disabled:focus,
.btn-outline-danger:disabled.focus,
.btn-outline-danger:disabled:active,
.btn-outline-danger:disabled.active,
.btn-outline-danger[disabled],
.btn-outline-danger[disabled]:hover,
.btn-outline-danger[disabled]:focus,
.btn-outline-danger[disabled].focus,
.btn-outline-danger[disabled]:active,
.btn-outline-danger[disabled].active,
fieldset[disabled] .btn-outline-danger,
fieldset[disabled] .btn-outline-danger:hover,
fieldset[disabled] .btn-outline-danger:focus,
fieldset[disabled] .btn-outline-danger.focus,
fieldset[disabled] .btn-outline-danger:active,
fieldset[disabled] .btn-outline-danger.active {
	background-color: transparent !important;
	border-color: #ef8157 !important;
}

.btn-outline-neutral {
	background: transparent;
	border: 2px solid #FFFFFF !important;
	color: #FFFFFF;
	opacity: 1;
	filter: alpha(opacity=100);
}

.btn-outline-neutral:hover,
.btn-outline-neutral:focus,
.btn-outline-neutral:active,
.btn-outline-neutral:focus:active,
.btn-outline-neutral.active,
.open>.btn-outline-neutral.dropdown-toggle {
	background-color: #FFFFFF !important;
	color: rgba(255, 255, 255, 0.8) !important;
	border-color: #FFFFFF !important;
}

.btn-outline-neutral:hover .caret,
.btn-outline-neutral:focus .caret,
.btn-outline-neutral:active .caret,
.btn-outline-neutral:focus:active .caret,
.btn-outline-neutral.active .caret,
.open>.btn-outline-neutral.dropdown-toggle .caret {
	border-top-color: rgba(255, 255, 255, 0.8) !important;
}

.btn-outline-neutral .caret {
	border-top-color: #FFFFFF !important;
}

.btn-outline-neutral.disabled,
.btn-outline-neutral.disabled:hover,
.btn-outline-neutral.disabled:focus,
.btn-outline-neutral.disabled.focus,
.btn-outline-neutral.disabled:active,
.btn-outline-neutral.disabled.active,
.btn-outline-neutral:disabled,
.btn-outline-neutral:disabled:hover,
.btn-outline-neutral:disabled:focus,
.btn-outline-neutral:disabled.focus,
.btn-outline-neutral:disabled:active,
.btn-outline-neutral:disabled.active,
.btn-outline-neutral[disabled],
.btn-outline-neutral[disabled]:hover,
.btn-outline-neutral[disabled]:focus,
.btn-outline-neutral[disabled].focus,
.btn-outline-neutral[disabled]:active,
.btn-outline-neutral[disabled].active,
fieldset[disabled] .btn-outline-neutral,
fieldset[disabled] .btn-outline-neutral:hover,
fieldset[disabled] .btn-outline-neutral:focus,
fieldset[disabled] .btn-outline-neutral.focus,
fieldset[disabled] .btn-outline-neutral:active,
fieldset[disabled] .btn-outline-neutral.active {
	background-color: transparent !important;
	border-color: #FFFFFF !important;
}

.btn-outline-neutral:hover,
.btn-outline-neutral:focus {
	color: #403D39;
	background-color: #FFFFFF;
}

.btn-neutral {
	background-color: #FFFFFF;
	color: #51cbce;
	color: #66615B;
}

.btn-neutral:hover,
.btn-neutral:focus,
.btn-neutral:active,
.btn-neutral.active,
.btn-neutral:active:focus,
.btn-neutral:active:hover,
.btn-neutral.active:focus,
.btn-neutral.active:hover,
.show>.btn-neutral.dropdown-toggle,
.show>.btn-neutral.dropdown-toggle:focus,
.show>.btn-neutral.dropdown-toggle:hover {
	background-color: #FFFFFF !important;
	color: #FFFFFF !important;
	box-shadow: none !important;
}

.btn-neutral:not([data-action]):hover {
	box-shadow: none;
}

.btn-neutral.disabled,
.btn-neutral.disabled:hover,
.btn-neutral.disabled:focus,
.btn-neutral.disabled.focus,
.btn-neutral.disabled:active,
.btn-neutral.disabled.active,
.btn-neutral:disabled,
.btn-neutral:disabled:hover,
.btn-neutral:disabled:focus,
.btn-neutral:disabled.focus,
.btn-neutral:disabled:active,
.btn-neutral:disabled.active,
.btn-neutral[disabled],
.btn-neutral[disabled]:hover,
.btn-neutral[disabled]:focus,
.btn-neutral[disabled].focus,
.btn-neutral[disabled]:active,
.btn-neutral[disabled].active,
fieldset[disabled] .btn-neutral,
fieldset[disabled] .btn-neutral:hover,
fieldset[disabled] .btn-neutral:focus,
fieldset[disabled] .btn-neutral.focus,
fieldset[disabled] .btn-neutral:active,
fieldset[disabled] .btn-neutral.active {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-neutral.btn-danger {
	color: #ef8157;
}

.btn-neutral.btn-danger:hover,
.btn-neutral.btn-danger:focus,
.btn-neutral.btn-danger:active,
.btn-neutral.btn-danger:active:focus {
	color: #eb6532 !important;
}

.btn-neutral.btn-info {
	color: #51bcda !important;
}

.btn-neutral.btn-info:hover,
.btn-neutral.btn-info:focus,
.btn-neutral.btn-info:active,
.btn-neutral.btn-info:active:focus {
	color: #2ba9cd !important;
}

.btn-neutral.btn-warning {
	color: #fbc658 !important;
}

.btn-neutral.btn-warning:hover,
.btn-neutral.btn-warning:focus,
.btn-neutral.btn-warning:active,
.btn-neutral.btn-warning:active:focus {
	color: #fab526 !important;
}

.btn-neutral.btn-success {
	color: #6bd098 !important;
}

.btn-neutral.btn-success:hover,
.btn-neutral.btn-success:focus,
.btn-neutral.btn-success:active,
.btn-neutral.btn-success:active:focus {
	color: #44c47d !important;
}

.btn-neutral.btn-default {
	color: #66615B !important;
}

.btn-neutral.btn-default:hover,
.btn-neutral.btn-default:focus,
.btn-neutral.btn-default:active,
.btn-neutral.btn-default:active:focus {
	color: #403D39 !important;
}

.btn-neutral.active,
.btn-neutral:active,
.btn-neutral:active:focus,
.btn-neutral:active:hover,
.btn-neutral.active:focus,
.btn-neutral.active:hover,
.show>.btn-neutral.dropdown-toggle,
.show>.btn-neutral.dropdown-toggle:focus,
.show>.btn-neutral.dropdown-toggle:hover {
	background-color: #FFFFFF !important;
	color: #34b5b8 !important;
	box-shadow: none !important;
}

.btn-neutral:hover,
.btn-neutral:focus {
	color: #34b5b8 !important;
}

.btn-neutral:hover:not(.nav-link),
.btn-neutral:focus:not(.nav-link) {
	box-shadow: none;
}

.btn-neutral.btn-simple {
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.btn-neutral.btn-simple:hover,
.btn-neutral.btn-simple:focus,
.btn-neutral.btn-simple:active {
	background-color: transparent;
	color: #FFFFFF;
	border-color: #FFFFFF;
	box-shadow: none;
}

.btn-neutral.btn-link {
	color: #FFFFFF;
}

.btn-neutral.btn-link:hover,
.btn-neutral.btn-link:focus,
.btn-neutral.btn-link:active,
.btn-neutral.btn-link:active:focus {
	background-color: transparent;
	color: #FFFFFF;
	text-decoration: none;
	box-shadow: none;
}

.btn-neutral:hover,
.btn-neutral:focus {
	color: #403D39;
}

.btn-neutral.btn-border:hover,
.btn-neutral.btn-border:focus {
	color: #66615B;
}

.btn-neutral.btn-border:active,
.btn-neutral.btn-border.active,
.open>.btn-neutral.btn-border.dropdown-toggle {
	background-color: #FFFFFF;
	color: #66615B;
}

.btn-neutral.btn-link:active,
.btn-neutral.btn-link.active {
	background-color: transparent;
}

.btn:disabled,
.btn[disabled],
.btn.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	pointer-events: none;
}

.btn-simple {
	border: 1px solid;
	border-color: #66615B;
	padding: 10px 22px;
	background-color: transparent;
}

.btn-simple.disabled,
.btn-simple.disabled:hover,
.btn-simple.disabled:focus,
.btn-simple.disabled.focus,
.btn-simple.disabled:active,
.btn-simple.disabled.active,
.btn-simple:disabled,
.btn-simple:disabled:hover,
.btn-simple:disabled:focus,
.btn-simple:disabled.focus,
.btn-simple:disabled:active,
.btn-simple:disabled.active,
.btn-simple[disabled],
.btn-simple[disabled]:hover,
.btn-simple[disabled]:focus,
.btn-simple[disabled].focus,
.btn-simple[disabled]:active,
.btn-simple[disabled].active,
fieldset[disabled] .btn-simple,
fieldset[disabled] .btn-simple:hover,
fieldset[disabled] .btn-simple:focus,
fieldset[disabled] .btn-simple.focus,
fieldset[disabled] .btn-simple:active,
fieldset[disabled] .btn-simple.active,
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled.focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link:disabled,
.btn-link:disabled:hover,
.btn-link:disabled:focus,
.btn-link:disabled.focus,
.btn-link:disabled:active,
.btn-link:disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled].focus,
.btn-link[disabled]:active,
.btn-link[disabled].active,
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link.focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
	background-color: transparent;
}

.btn-link {
	border: 0;
	padding: 0.5rem 0.7rem;
	background-color: transparent;
}

.btn-lg {
	font-size: 1rem;
	border-radius: 6px;
	padding: 15px 48px;
}

.btn-lg.btn-simple {
	padding: 14px 47px;
}

.btn-sm {
	font-size: 0.8571em;
	border-radius: 3px;
	padding: 5px 10px;
}

.btn-sm.btn-simple {
	padding: 4px 14px;
}

.btn-wd {
	min-width: 140px;
}

.btn-group.select {
	width: 100%;
}

.btn-group.select .btn {
	text-align: left;
}

.btn-group.select .caret {
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: 8px;
}

.btn-group .btn+.btn {
	margin-left: -3px;
}

.btn-group .btn:focus {
	background-color: #51bcda !important;
}

.btn-round {
	border-width: 1px;
	border-radius: 30px;
	padding-right: 23px;
	padding-left: 23px;
}

.btn-round.btn-simple {
	padding: 10px 22px;
}

.bg-default {
	border-color: #66615B !important;
	;
	background-color: #66615B !important;
	;
}

.bg-primary {
	border-color: #51cbce !important;
	;
	background-color: #51cbce !important;
	;
}

.bg-info {
	border-color: #51bcda !important;
	;
	background-color: #51bcda !important;
	;
}

.bg-success {
	border-color: #6bd098 !important;
	;
	background-color: #6bd098 !important;
	;
}

.bg-warning {
	border-color: #fbc658 !important;
	;
	background-color: #fbc658 !important;
	;
}

.bg-danger {
	border-color: #ef8157 !important;
	;
	background-color: #ef8157 !important;
	;
}

.bg-neutral {
	border-color: #FFFFFF !important;
	;
	background-color: #FFFFFF !important;
	;
	color: inherit !important;
	;
}

.card label {
	font-size: .8571em;
	margin-bottom: 5px;
	color: #9a9a9a;
}

.form-control, .form-select {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #66615b;
	line-height: normal;
	height: auto;
	font-size: 14px;
	transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
	box-shadow: none;
	min-height: 38px;
}

button,
input,
optgroup,
select,
textarea {
	font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

.btn i.fa, .btn i.fas {
	font-size: 0.8rem;
}