.boxBody {
    height: 120px;
    font-size: 40px;
    text-align: center;
    background-color: #00525E;
    padding-top: 30px;
}

.boxBody a {
    color: white;
    text-decoration: none;
}

div.boxBody:hover {
    text-decoration: none;
    background-color: #97BF11; 
}

.boxFooter {
    padding: 3px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #AFDB00; 
}
