.card-title {
    margin-bottom: 0px;
    color: white;
}

.card-subtitle {
    margin-bottom: 10px;
    color: black;
}

.message-bubble {
    padding: 10px 0px 10px 0px;
}

.message-bubble:nth-child(even) {
    background-color: #F5F5F5;
}

.message-bubble>* {
    padding-left: 10px;
}

#chatSession {
    overflow: auto;
    height: 400px;
}