/*Override theme styles that have issues*/

.btn:not(.btn-raised).btn-primary,
.input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #FFFFFF
}

.btn:not(.btn-raised).btn-success, .input-group-btn .btn:not(.btn-raised).btn-success {
    color: #FFFFFF;
}

.btn:not(.btn-raised).btn-danger, .input-group-btn .btn:not(.btn-raised).btn-danger {
    color: #FFFFFF;
}

.logo {
    width: auto;
    height: 30px;
    display: inline-block !important;
}

.modal-backdrop {
    z-index: 0;
}

.form-group {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
}